{% extends 'main.html' %}

{% block content %}
<main class="projects">
    <section class="hero-section text-center">
        <div class="container container--narrow">
            <div class="hero-section__box">
                <h2>Search for <span>Blogs</span></h2>
            </div>

            <div class="hero-section__search">
                <form id='searchForm' class="form" action="{% url 'blogs' %}" method="get">
                    <div class="form__field">
                        <label for="formInput#search">Search By Blogs </label>
                        <input class="input input--text" id="formInput#search" type="text" name="search_query"
                            placeholder="Search by Blog Title" value="{{search_query}}" />
                    </div>

                    <input class="btn btn--sub btn--lg" type="submit" value="Search" />
                </form>
            </div>
        </div>
    </section>
    <!-- Search Result: DevList -->
    <section class="projectsList">
        <div class="container">
            <div class="grid grid--three">

                {% for blog in blogs %}
                <div class="column">
                    <div class="card project">
                        <a href="{% url 'blog' blog.id %}" class="project">
                            <img class="project__thumbnail" src="{{blog.featured_image.url}}" alt="blog thumbnail" />
                            <div class="card__body">
                                <h3 class="project__title">{{blog.title}}</h3>
                                <p>By
                                        {{blog.owner.name}}
                                </p>
                                <p class="project--rating">
                                    <span style="font-weight: bold;">{{blog.vote_ratio}}%</span> Positive
                                    Feedback ({{blog.vote_total}}) Vote{{blog.vote_total|pluralize:"s"}}
                                </p>
                                <div class="project__tags">
                                    {% for tag in blog.tags.all %}
                                    <span class="tag tag--pill tag--main">
                                        <small>{{tag}}</small>
                                    </span>
                                    {% endfor %}

                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>
    {% include 'pagination.html' with queryset=blogs custom_range=custom_range %}
  </main>
{% endblock  %}