{% extends 'main.html' %}

{% block content %}
<!-- Main Section -->
<main class="inbox my-xl">
  <div class="content-box">
    <h3 class="inbox__title">Appointments(<span>{{Count}}</span>)</h3>

    <ul class="messages">
      {% for appointment in appointmentRequests %}
      {% if appointment.confirm == True %}
      {% if request.user.profile.role == 'Mental Health Specialist' and appointment.sender is request.user.profile%}
      <li class="message message--unread--mh" ">
        {% else %}
        <li class="message message--unread">
      {%endif%}
      {% else %}
      {% if request.user.profile.role == 'Mental Health Specialist' and appointment.sender is request.user.profile%}
      <li class="message message--read--mh" style="text-decoration: pink;">
        {% else %}
        <li class="message">
      {%endif%}
        {% endif %}

        

        <a href="{% url 'appointment' appointment.id %}">
          <span class="message__author">{{appointment.name}}</span>
          <span class="message__subject">{{appointment.subject}}</span>
          <span class="message__date">{{appointment.date}}, {{appointment.time}}</span>
        </a>
        
      </li>
      {% endfor %}
    </ul>
  </div>
  
  {% include 'pagination.html' with queryset=appointmentRequests custom_range=custom_range %}
</main>

{% endblock content %}