{% extends 'main.html' %}


{% block content %}
<!-- Main Section -->
<main class="messagePage my-xl">
  <div class="content-box">
    <div class="message">
      <a class="backButton" href="{% url 'appointmentInbox' %}"><i class="im im-angle-left"></i></a>
      <h2 class="message__subject">{{appointment.subject}} 
        {% if request.user.profile.role == 'Mental Health Specialist'%}
          <a href="{%url 'deleteAppointment' appointment.id%}"><i class="im im-trash-can"></i></a> 
          {% if appointment.confirm == False %}
          <a style="float: right;" href="{%url 'confirmAppointment' appointment.id%}"><i  class="im im-check-mark"></i></a>
          {% endif %}
        {% endif %}
      </h2>
        
        {% if appointment.sender %}
        <a href="{% url 'user-profile' appointment.sender.id  %}" class="message__author">{{appointment.name}}</a>
        {% else %}
        <p class="message__author">{{appointment.name}}</p>
        {% endif %}
        <p class="message__date">{{appointment.date}}, {{appointment.time}}</p>
        <div class="message__body">{{appointment.body|linebreaksbr}}</div>
    </div>
  </div>
</main>
{% endblock content %}