{% load static %}
<br>
<br>
<br>
<br>

<footer>
  <div class="rounded-social-buttons">
                    <a class="social-button facebook" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f" style="vertical-align: -0.740em;"></i></a>
                    <a class="social-button twitter" href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter" style="vertical-align: -0.740em;"></i></a>
                    <a class="social-button linkedin" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin" style="vertical-align: -0.740em;"></i></a>
                    <a class="social-button youtube" href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube" style="vertical-align: -0.740em;"></i></a>
                    <a class="social-button instagram" href="https://www.instagram.com/" target="_blank" ><i class="fab fa-instagram" style="vertical-align: -0.740em;"></i></a>
                </div>
</footer>
