<!DOCTYPE html>
{% load static %}
{% load pwa %}
{% progressive_web_app_meta %}
<html lang="en">
<head>
    <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
	<link rel="stylesheet" href="{% static 'styles/footer.css'%}">
  <!-- Favicon -->
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
  <!-- Icon - IconMonster -->
  <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css" />
  <!-- Mumble UI -->
  <link rel="stylesheet" href="{% static 'uikit/styles/uikit.css'%}" />
  <!-- Dev Search UI -->
  <link rel="stylesheet" href="{% static 'styles/app.css'%}" />

	<link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
  <link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
  crossorigin="anonymous"
/>
  {% block css_files%}

  {% endblock %}

  <title>Advika</title>
</head>
<body>
    {% include 'navbar.html'%}

    {% if messages %}

      {% for message in messages %}
        <div class="alert  alert--{{message.tags}}">
            <p class="alert__message">{{message}}</p>
            <button class="alert__close">x</button>
        </div>
      {% endfor %}

    {% endif %}

    {% block content %}
    
    {% endblock  %}

    {% include 'chatbot.html'%}
    
</body>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
<script src="{% static 'uikit/app.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% block js %}

{% endblock %}

</html>