{% load static %}
<header class="header">
    <div class="container ">
      <a href="{%url 'profiles' %}" class="header__logo">
        <span style="font-family: 'Tangerine', serif;
          font-size: 30px;color: white;">Advika</span>
      </a>
      <nav class="header__nav">
        <input type="checkbox" id="responsive-menu" />
        <label for="responsive-menu" class="toggle-menu">
          <span>Menu</span>
          <div class="toggle-menu__lines"></div>
        </label>
        <ul class="header__menu">
          <li class="header__menuItem"><a href="{% url 'profiles'%}">Mental Health Specialists</a></li>
          <li class="header__menuItem"><a href="{% url 'blogs'%}">Blogs</a></li>

          {% if request.user.is_authenticated %}
          <li class="header__menuItem"><a href="{% url 'inbox'%}">Inbox</a></li>
            {% if request.user.profile.role == 'Mental Health Specialist'%}
              
            {% else %}
            <li class="header__menuItem"><a href="{% url 'tracker'%}">Tracker</a></li>
            {% endif %}
            <li class="header__menuItem"><a href="{% url 'appointmentInbox'%}">Appointments</a></li>
          <li class="header__menuItem"><a href="{% url 'account'%}">Account</a></li>
          <li class="header__menuItem"><a href="{% url 'logout'%}" class="btn btn--sub">Logout</a></li>
          {% else %}
          <li class="header__menuItem"><a href="{% url 'login'%}" class="btn btn--sub">Login/Sign Up</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>