{% load static %}
<header class="header">
    <div class="container ">
      <a href="{%url 'home' %}" class="header__logo">
        <span style="font-family: 'Tangerine', serif;
          font-size: 30px;color: white;">Advika</span>
      </a>
      <nav class="header__nav">
        <input type="checkbox" id="responsive-menu" />
        <label for="responsive-menu" class="toggle-menu">
          <span>Menu</span>
          <div class="toggle-menu__lines"></div>
        </label>
        <ul class="header__menu">
          <li class="header__menuItem"><a href="{% url 'home'%}"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
          <li class="header__menuItem"><a href="{% url 'profiles'%}"><i class="fa fa-user-md" aria-hidden="true"></i> Mental Health Specialists</a></li>
          <li class="header__menuItem"><a href="{% url 'blogs'%}"><i class="fa fa-book" aria-hidden="true"></i> Blogs</a></li>

          {% if request.user.is_authenticated %}
          <li class="header__menuItem"><a href="{% url 'inbox'%}"><i class="fa fa-envelope" aria-hidden="true"></i> Inbox</a></li>
            {% if request.user.profile.role == 'Mental Health Specialist'%}
              
            {% else %}
            <li class="header__menuItem"><a href="{% url 'tracker'%}"> <i class="fa fa-signal" aria-hidden="true"></i> Tracker</a></li>
            {% endif %}
            <li class="header__menuItem"><a href="{% url 'appointmentInbox'%}"><i class="fa fa-calendar" aria-hidden="true"></i> Appointments</a></li>
          <li class="header__menuItem"><a href="{% url 'account'%}"><i class="fa fa-user-circle" aria-hidden="true"></i> Account</a></li>
          <li class="header__menuItem"><a href="{% url 'logout'%}" class="btn btn--sub"><i class="fas fa-sign-out-alt"></i> Logout </a></li>
          {% else %}
          <li class="header__menuItem"><a href="{% url 'login'%}" class="btn btn--sub"><i class="fas fa-sign-in-alt"></i> Login/Sign Up</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>